#headshot img{
  width: 15%;
}

.header{ /* CSS Method for the Header image/headshot */
  margin-top: 1.5rem;
}

.header-information{ /* For the introductory info (basic info about myself) */
  text-align: center;
}

.header-information a{
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 5px;
}
