.aboutSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;
  border: 1px solid black;
}

.aboutSection #aboutContent {
  flex: 1 1 0%;
  text-align: center;
}

.aboutSection #aboutImage {
  flex: 1 1 0%;
  max-width: 720px;
  min-width: 260px;
}

@media only screen and (max-width: 660px) {
  .aboutSection {
    flex-wrap: wrap;
  }
  .aboutSection #aboutContent {
    width: 100%;
    min-width: 100%;
  }
}
