.contactSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;
  /* border: 1px solid black; */
  margin-left: 1vw;
  margin-right: 1vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.contactSection #contactContent {
  flex: 1 1 0%;
  text-align: center;
}

.contactSection #contactImage {
  flex: 1 1 0%;
  max-width: 800px;
  min-width: 300px;
}

@media only screen and (max-width: 600px) {
  .contactSection {
    flex-wrap: wrap;
  }
  .contactSection #contactContent {
    width: 100%;
    min-width: 100%;
  }
}
