h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial,"Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  color: #212529;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

p {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial,"Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  color: #212529;
  font-weight: 500;
  line-height: 1.2;
}

#firstPatternSegment {
  background-image: url("../images/contactImage.png");
}
#secondPatternSegment {

}
#thirdPatternSegment {

}
