.experienceSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;
  border: 1px solid black;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.experienceSection #experiencesContent {
  flex: 1 1 0%;
  text-align: center;
}

.experienceSection #experiencesImage {
  flex: 1 1 0%;
  max-width: 720px;
  min-width: 300px;
}

@media only screen and (max-width: 600px) {
  .experienceSection {
    flex-wrap: wrap;
  }
  .aboutSection #experiencesContent {
    width: 100%;
    min-width: 100%;
  }
}

/* CSS Modifications for the Accordion Cards */
#experiencesContent .accordion .card{
  margin-bottom: 0.5rem;
  border: 0.5px solid black;
  text-align: left;
}

#experiencesContent .accordion .accordionBody  {
  /* For the card body itself (containing company title and role) */
  background-color: #f8f3eb;
}

#experiencesContent .accordion .accordionBody p{
  /* For the text inside the card body */
  margin-top: 0.2rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

#experiencesContent .accordion .companyTitle  {
  /* Text modifications for the company title */
  font-weight: bold;
  margin-bottom: 0.5rem;
}
