.extracurricularSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;
  border: 1px solid black;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.extracurricularSection #extracurricularContent {
  flex: 1 1 0%;
  text-align: center;
}

.extracurricularSection #extracurricularImage {
  flex: 1 1 0%;
  max-width: 720px;
  min-width: 300px;
}

@media only screen and (max-width: 600px) {
  .extracurricularSection {
    flex-wrap: wrap;
  }
  .extracurricularSection #extracurricularContent {
    width: 100%;
    min-width: 100%;
  }
}


/* CSS Modifications for the Accordion Cards */
#extracurricularContent .accordion .card{
  margin-bottom: 0.5rem;
  border: 0.5px solid black;
  text-align: left;
}

#extracurricularContent .accordion .accordionBody {
  /* For the card body itself (containing company title and role) */
  background-color: #f8f3eb;
}

#extracurricularContent .accordion .card-body {
  /* For the card's description / nested content side */
  background-color: #f8f3eb;
  border-top: 0.5px solid black;
  padding-top: 0.6rem;
  padding-left: 0.5rem;
  padding-bottom: 0.4rem;
}


#extracurricularContent .accordion .accordionBody p{
  /* For the text inside the card body */
  margin-top: 0.2rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

#extracurricularContent .accordion .companyTitle  {
  /* Text modifications for the company title */
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#extracurricularContent .accordion .companyAndDate  {
  /* Div containing company title and date */
  display: flex;
  justify-content: space-between;
}

#extracurricularContent .accordion .companyAndDate .roleDate{
  /* Div containing company title and date */
  font-style: italic;
}
