footer {
  padding-top: 1rem;
  text-align: center;
}
footer span{
  font-size: 1.3rem;
}
footer h6{
  font-size: 1.15rem;
}

footer span svg{
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

#footerName {
  font-size: 1.05rem;
}


.body {

}
