h3 {
  font-family: "Helvetica";
}

#image{
  width: 7.8rem
}

.icons{
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-size: 1.45rem;
  color: black;
  padding-bottom: 5px;
}

div {
  text-align: center;
}
