.skillsSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;
  border: 1px solid black;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.skillsSection #skillsContent {
  flex: 1 1 0%;
  text-align: center;
}

.skillsSection #skillsImage {
  flex: 1 1 0%;
  max-width: 720px;
  min-width: 260px;
}

@media only screen and (max-width: 660px) {
  .skillsSection {
    flex-wrap: wrap;
  }
  .skillsSection #skillsContent {
    width: 100%;
    min-width: 100%;
  }
}

/* Skills Section */
.skillSegment {
  border: 2px solid black;
  display: flex;
  align-items: center;
  width: 99%;
  vertical-align: middle;
  flex-wrap: wrap;
  margin-bottom: 1vh;
  padding-bottom: 0.4vh;
}

.skillSegment * {
  margin-left: 1%;
  margin-right: 1%;
}

.skillsSection .skillsDenotion{
  font-weight: 620;
}

.skillSegment .badge{
  background-color: #c060a1;
  font-size: 0.85rem;
}
